/* booking.css */

.booking {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  position: sticky;
  top: 80px;
  background: var(--background-color);
  color: var(--text-color);
  max-height: 90vh;
  overflow-y: auto; /* So it can scroll if too tall */
}

.booking__top {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem;
}

.booking__top h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.booking__top h3 span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-color);
}

.booking__top .tour__rating {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}
.booking__top .tour__rating i {
  color: var(--secondary-color);
}

.booking__form {
  margin-bottom: 1rem;
}
.booking__form h5 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}

.booking__info-form {

  border-radius: 5px;
  padding: 0.5rem;
  background: var(--background-color);
}

.booking__info-form input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  margin-bottom: 0.6rem;
}
.booking__info-form input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.date-box, .count-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.date-box label,
.count-box label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 3px;
}

.booking__bottom li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0;
}
.booking__bottom li h5,
.booking__bottom li span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-color);
}

.total h5,
.total span {
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: var(--primary-color) !important;
}

.booking__bottom Button {
  background: var(--accent-color);
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: background 0.3s, transform 0.3s;
}
.booking__bottom Button:hover {
  transform: scale(1.05);
  background: var(--hover-color);
}
