.search-bar {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px;
   border-radius: 50px;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   width: max-content;
   margin: 20px auto;
   background: white;
}

.search-bar input, 
.search-bar .react-datepicker-wrapper {
   border: none;
   padding: 8px 12px;
   font-size: 1rem;
   border-radius: 8px;
   outline: none;
   font-weight: 500;
   background: #f5f5f5;
   flex: 1;
   min-width: 150px;
}

.search-bar .react-datepicker-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.search-bar input:focus, 
.search-bar .date-picker:focus {
   background: #e8e8e8;
}

.search-bar button {
   background: var(--secondary-color);
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 1rem;
   border-radius: 8px;
   cursor: pointer;
   transition: background 0.3s;
}

.search-bar button:hover {
   background: #d65f5f;
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 992px) {
   .search-bar {
      flex-wrap: wrap;
      padding: 10px;
   }

   .search-bar input, 
   .search-bar .react-datepicker-wrapper {
      width: 100%;
   }

   .search-bar button {
      width: 100%;
   }
}
